.footer-container {
  justify-content: space-between;
}

.footer__left {
  gap: 1rem;
}

.footer__left-logo {
  width: 120px;
  height: 45px;
}

.footer__menu-list {
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.footer__menu-item-link {
  font-weight: 500;
}

@media (max-width: 768px) { 
  .footer-container {
    justify-content: center;
  }

  .footer-container>div {
    align-items: center;
    text-align: center;
  }
}